<h2>Sign up</h2>

<div class="moduloDiv" >
	<table class="tabella">
		<tr>
			<th>
				Non sono ammesse registrazioni!
			</th>
		</tr>
	
		<tr>
			<td>
				Utilizzare la console.
			</td>
		</tr>
		
	</table>
</div>