<h1 class="frijole">INDOVINA ZOO</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn-danger">Danger</button>