<div class="container">
	<div class="row">
		<div class="col-md-12 hidden-xs hidden-sm">
			<h1 class="frijole">INDOVINA ZOO</h1>
		</div>
	</div>
	<div class="row">
		<div id="startZone" class="col-md-12">
			<div class="row">
				<div id="startButton" class="col-md-1 col-md-offset-5">
    			<%= link_to image_tag("play.png", :class => "img-responsive"), {controller: "game", action: "level"}, class: "start" %>
				</div>
			</div>								
		</div>
	</div>	
</div>
