<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="frijole">INDOVINA ZOO</h1>
		</div>
	</div>	
	<img src="indovinaZoo.jpg" class="img-responsive" id="welcomeImage"/>
</div>
