<div class="container">
	<div class="row">
		<div class="col-md-12 hidden-xs hidden-sm">
			<h1 class="frijole">INDOVINA ZOO</h1>
		</div>
	</div>	
	<%= image_tag("indovinaZoo.jpg", :class => "img-responsive", :id => "welcomeImage") %>
	<%= image_tag("play.png", :class => "img-responsive", :id => "play") %>
</div>
