body {
	background-image: url(/images/giungla.jpg);
}

.frijole {
	font-family: 'Frijole', cursive;
	font-size: 100px;
}

.container {
	background-color: rgba(218, 253, 218, 0.6);
}

#startZone {
	background-image: url(/images/indovinaZoo.jpg);
	background-size: cover;
	height: 700px;
}

#startButton {
	margin-top: 200px;
}

@media (min-width: 992px) {
	#welcomeImage {
		width: 80%;
		margin: auto;
	}
}

.tabella{
    width: 300;

}

td, th{
    vertical-align: top;
    padding: 10px;
}

.moduloDiv{
    border:2px solid;
    border-radius:25px;
    box-shadow: 7px 7px 5px #888888;
    border-color: #C0C0C0;
    width: 400px;
    margin:auto;
    background-color: #FFFFFF;
}

.moduloDivGrande{
    border:2px solid;
    border-radius:25px;
    box-shadow: 7px 7px 5px #888888;
    border-color: #C0C0C0;
    width: 600px;
    margin:auto;
    background-color: #FFFFFF;
}

#timer {
	width:100px;
	font-size: 20px;
	color: green;
}

#audio {
	width: 50px;
}

#timerBar {
	width: 1000px;
}

.progress-bar {
	-webkit-transition: width 0s linear !important;
	transition: width 0s linear !important;
}

#percentage {
	font-weight: bold;
	color: black;
