body {
	background-image: url(/images/giungla.jpg);
}

.frijole {
	font-family: 'Frijole', cursive;
	font-size: 100px;
}

.container {
	background-color: rgba(218, 253, 218, 0.6);
}

#startZone {
	background-image: url(/images/indovinaZoo.jpg);
	background-size: cover;
	height: 700px;
}

#startButton {
	margin-top: 200px;
}

@media (min-width: 992px) {
	#welcomeImage {
		width: 80%;
		margin: auto;
	}
}
